
/* ----------------------------------main css-------------------------------- */
body {
    font-family: 'Keypunch029Regular'; 
    background-color: rgb(0, 0, 0);
    color: white;
}

#box {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.title {
    font-family: 'DSEG14ClassicRegular';
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    border:5px outset greenyellow;
}

/* ----------------------------------question answers-------------------------------- */
.option{
    line-height: 150%;
    margin-left: 5%;
    font-size: 20px;
}
#question { 
    font-family: 'Keypunch029Regular'; 
    font-size: 24px;
    margin-bottom: 5px;
 }

 /* ----------------------------------radio input-------------------------------- */
 .option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* ----------------bullet detail----------------------- */
.checkmark {
    position: absolute;
    left: 17%;
    height: 13px;
    width: 13px;
    background-color: black;
    border-radius: 50%;
    border: solid yellowgreen 4px;
  }
  .question:hover input ~ .checkmark {
    background-color: black;
  }
  .option input:checked ~ .checkmark {
    background-color: greenyellow;
  }

  /* ----------------------------------submit button-------------------------------- */
 input[type=button] {
     background-color: greenyellow;
     font-family: 'Keypunch029Regular';
     font-size: 30px;
    padding: 10px;
    padding-bottom: 5px;
     color: black;
     width: 100%;
 }

 .next-button{
     border: 2px solid greenyellow;
     color: white;
     width: 100%:
 }